@model Jidla.Web.ViewModels.RecipeViewModel

    <tr>
        <td>
            @Html.CheckBoxFor(model => model.IsSelected)
        </td>
        <td width="80px">
            <img src="@Model.PhotoUri" style="height: 80px; width: 80px;" />
        </td>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
